<!DOCTYPE html>
<html lang="en">
<head>
<%- include("./templates/head") %>
</head>
<body>
    <%- include("./templates/header", {authorised, permissions}) %>
    <div class="content">
        <h1>27-08-23 breach</h1>
        <div class="alert alert-warning">TL;DR: Our database got hacked, and usernames, emails, and password hashes are compromised and may be leaked</div>
        <h3>What happened</h3>
        <p>In the afternoon of the 27th of August, our database was hacked.</p>
        <p>We have a backup process in place, so no data was actually lost. When we discovered the attack this morning, (28/08) we ensured the attacker had no more entry vectors, before removing the ransom message and restoring our data.</p>
        <h3>Result</h3>
        <p>All our user data is in hostile hands. The attacker has access to:</p>
            <ul>
                <li><b>Username</b></li>
                <li><b>Email</b></li>
                <li><b>Password hash</b> (this is a non-reversible encrypted version of your password, not your actual password)</li>
                <li>Permissions integer</li>
                <li>Finds & first finds</li>
                <li>Email verification uuids</li>
                <li>Password reset uuids</li>
            </ul>
        <p>All email verification and password reset information has thankfully expired, so the attacker has not been able to use this to gain access to any accounts. </p>
        <p>The attacker also had access to all the duck information and find information, but that's not as sensitive. If someone shoots to the top of the leaderboard, we'll know. If you see an uptick in spam email to your associated email, sorry about that.</p>
        <p>You may wish to review CERT's <a href="https://www.cert.govt.nz/individuals/common-threats/scams-and-fraud/">list of common scams and frauds</a> to better protect yourself.</p>
        <br>
        <p><b>This is exactly why you should use different passwords for everything, or better yet, use a password manager!!</b>(guidelines for which are available <a href="https://www.cert.govt.nz/individuals/guides/keep-your-data-safe-with-a-password-manager/">here</a>)</p>
        <p><b>This attack was due to a tiny error, and we don't expect it to happen again. If you have any concerns or want to know more, please contact us at <a href="mailto:contact@findtheducks.live">contact@findtheducks.live</a> or the <a href="https://privacy.org.nz/about-us/contact-us/">Privacy Commissioner's office</a>.</b></p>
    </div>
    <%- include("./templates/footer", {duckFact}) %>
</body>
</html>