<!DOCTYPE html>
<html lang="en">
<head>
<%- include("./templates/head") %>
<body>
    <%- include("./templates/header", {authorised: authorised}) %>
    <div class="content">

    </div>
</body>
</html>