<!DOCTYPE html>
<html lang="en">
<head>
<%- include("./templates/head") %>
</head>
<body>
    <%- include("./templates/header", {authorised, permissions}) %>
    <div class="content">
        <h1 id="title">The duck hunt</h1>
        <h3>what?</h3>
        <p>we've hidden some ducks around whs. one of them is in the background image. find them, enter the code on them, and you'll be in.</p>
        <h3>how?</h3>
        <p>you'll need to register an account to play. use your school email. once you've done that, you can start hunting. click on duck entry, type in the code and if you're the first to find it, you'll score some points.</p>
        <h3>why?</h3>
        <p>why not? also there's a prize for the best duck hunter.</p>
        <h3>when?</h3>
        <p>we'll hide one duck every day until we run out. we have quite a few</p>
        <h3>where?</h3>
        <p>everywhere on school grounds.</p>
    </div>
</body>
</html>