<footer>
    <span id="iconsSpan">
        <a href="https://www.instagram.com/whsfindtheducks" target="_blank" id="instagramLink"><i class="fa-brands fa-instagram instagramIcon"></i></a>
        <a href="https://www.github.com/ducksteam/findtheducks" target="_blank" id="githubLink"><i class="fa-brands fa-github githubIcon"></i></a>
    </span>
    <a id="breach" class="footerText" href="/breach">breach report</a>
    <a id="contact" class="footerText" style="font-size: 14px;" href="mailto:contact@findtheducks.com">contact@findtheducks.com</a>
    <p id="duckFact"><%= duckFact %></p>
</footer>