<footer>
    <span id="iconsSpan">
        <a href="https://www.instagram.com/whsfindtheducks" target="_blank" id="instagramLink"><i class="fa-brands fa-instagram instagramIcon"></i></a>
        <a href="https://www.github.com/skysourced/findtheducks" target="_blank" id="githubLink"><i class="fa-brands fa-github githubIcon"></i></a>
    </span>
    <p id="duckFact"><%= duckFact %></p>
</footer>