<footer>
    <a href="https://www.instagram.com/whsfindtheducks" target="_blank" id="instagramLink"><i class="fa fa-instagram instagramIcon"></i></a>
    <p id="duckFact"><%= duckFact %></p>
</footer>