<div class="alert alert-dark">
	alright lets end this
	<img style="max-width: 50vw; padding-top:20px;" src="endgame.png" alt="a list of unfound ducks. locations are: in abandoned vice outside art block, under bleachers by batting nets, vents by com4, cafe pillar, bike sheds by art, locker 6 '9',outside s3 on pole, com1 vent">
</div>