<!DOCTYPE html>
<html lang="en">
<head>
<%- include("../templates/head") %>
</head>
<body>
    <%- include("../templates/header", {authorised, permissions}) %>
    <div class="content">
        <div class="login_box">
            <h2>rejoin the flock</h2>
            <% if (status == "undefined") {
            } else if ( status == "Success!" || status == "Logged out") { %>
                <div class="alert alert-success"><%= status %></div>
            <% } else { %>
                <div class="alert alert-danger"><%= status %></div>
            <% } %>
            <form action="/users/login" method="post">
                <div class="user_box">
                    <label>email</label> <br>
                    <input type="text" name="email" required>
                </div>
                <div class="user_box">
                    <label>password</label> <br>
                    <input type="password" name="password" required>
                </div>
                <br>
                <button type="submit">welcome back</button>
                <p>not a ducker yet? <a href="/users/register">sign up here</a></p>
            </form>
        </div>
    </div>
</body>
</html>