<!DOCTYPE html>
<html lang="en">
<head>    
<%- include("../templates/head") %>
</head>
<body>
    <%- include("../templates/header", {authorised: authorised}) %>
    <div class="content">
        <%= username %>
    </div>
</body>
</html>