<!DOCTYPE html>
<html lang="en">
<head>
<%- include("../templates/head") %>
</head>
<body>
    <%- include("../templates/header", {authorised, permissions}) %>
    <div class="content">
        <div class="login_box">
            <h2>join the duckers</h2>
            <%- include("../templates/errormsg", {status}) %>
            <form action="/users/register" method="post">
                <div class="formItem">
                    <label>email <i>- only players using a whs email will be eligible for the prize</i></label> <br>
                    <input type="text" name="email" required>
                </div>
                <div class="formItem"> 
                    <label>username</label> <br>
                    <input type="text" name="username" required>
                </div>
                <div class="formItem">
                    <label>password</label> <br>
                    <input type="password" name="password" required>
                </div>
                <div class="formItem">
                    <label>confirm password</label> <br>
                    <input type="password" name="confirmPassword" required>
                </div>
                <br>
                <button type="submit">enter the duckening</button>
            </form>
            <p>already a ducker? <a href="/users/login">sign in here</a></p>
            <p>can't find your verification email? <a href="/users/resend">get another here</a></p>
        </div>
    </div>
    <%- include("../templates/footer", {duckFact}) %>
</body>
</html>