<!DOCTYPE html>
<html lang="en">
<head>
<%- include("../templates/head") %>
</head>
<body>
    <%- include("../templates/header") %>
    <div class="content">
        <div class="login_box">
            <h2>Sign up</h2>
            <% if (errorMsg && errorMsg !== "Success!") { %>
                <div class="alert alert-danger"><%= errorMsg %></div>
            <% } else if (errorMsg) {%>
                <div class="alert alert-success"><%= errorMsg %></div>
            <% } %>
            <form action="/signup" method="post">
                <div class="user_box">
                    <label>Email</label> <br>
                    <input type="text" name="email" required>
                </div>
                <div class="user_box"> 
                    <label>Username</label> <br>
                    <input type="text" name="username" required>
                </div>
                <div class="user_box">
                    <label>Password</label> <br>
                    <input type="password" name="password" required>
                </div>
                <div class="user_box">
                    <label>Confirm Password</label> <br>
                    <input type="password" name="password-confirm" required>
                </div>
                <button type="submit">Sign in</button>
            </form>
            <p>Already have an account? <a href="/login">Sign in</a></p>
        </div>
    </div>
</body>
</html>